$button-colour: (#ff1d1d, #00ef05, #f5ac00);
$company-header-colour: #5aa02c;
$company-heading-colour: #828c92;
$reference: 1;

#individual-company {
  width: 50%;
  display: inline-block;
  vertical-align: top;

  #individual-company-buttons {
    margin-bottom: 15px;

    @for $i from 1 through 3 {
      #individual-company-button-#{$i} {
        display: inline-block;

        .icb-pair {
          display: table-row;

          div {
            height: 40px;
            vertical-align: middle;
            display: table-cell;
            text-transform: uppercase;
            font-family: 'League Gothic';
            font-size: 150%;
          }
          .icb-icon {
            padding-left: 8px;
          }
          .icb-text {
            color: nth($button-colour, $i);
            padding-left: 4px;
            padding-right: 8px;
          }
        }
        .icb-underscore {
          display: block;
          height: 8px;
          background-color: nth($button-colour, $i)
        }
      }
    }
  }

  #company-box {
    text-align: left;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #888;
    background: white;

    .-mild-highlighted {
      font-weight: bold;
    }

    .company-header {
      color: $company-header-colour;

      .company-header-line {
        font-family: 'League Gothic';
        div {
          display: inline-block;
        }
        .company-title {
          position: relative;
          top: 8px;
          margin-left: 15px;
          font-size: 230%;
          text-transform: uppercase;
        }
        .company-endorsements {
          font-size: 130%;
          padding-left: 15px;
        }
      }

      .company-link-bar {
        position: relative;
        height: (50px / $reference);
        width: 100%;
        background-color: $company-header-colour;
        color: white;

        .company-url {
          font-size: 120%;
          position: absolute;
          left: 15px;
          top: 0px;
        }
        .company-email {
          font-size: 140%;
          position: absolute;
          right: 8px;
          bottom: 0px;
        }
      }
    }
    .company-content {
      .company-logo {
        border: 2px $company-header-colour solid;
        border-top: none;
        border-left: none;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      .company-blurb {
        margin-top: 15px;
        line-height: 140%;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    .company-statistics {
      .cs-main-row {
        font-size: 120%;
      }
      thead {
        color: $company-heading-colour;
        font-size: 130%;
        font-family: 'League Gothic';
        text-transform: uppercase;
        td {
          padding-top: 8px;
        }
      }
      td {
        min-width: 80px;
        padding-right: 8px;
      }
    }
  }
}
