$reference: 1;

body {
	background: #eeeeee url('../images/background.png') no-repeat center top;
        font-family: 'Quattrocento Sans', sans-serif;
	font-size: 12px / $reference;
}

h1, h2 {
   font-family: 'League Gothic';
   font-weight: normal;
   text-transform: uppercase;
}

#page-container {
	width: 840px / $reference;
	text-align: center;
	margin: 0 auto;
}
