$onii-blue: #304d5e;
$reference: 1;

#search-banner {
	position: relative;

	#search-banner-linen {
		text-align: center;
		position: relative;
		top: 4px / $reference;
		z-index: -3;
		img {
			background-color: white;
			box-shadow: 0px 0px 100px rgba(80, 160, 160, 0.5);
			width: 85%;
			height: 85%;
		}
	}
	#search-banner-box-group {
		position: absolute;
		z-index: 1;
		left: 0px;
		right: 0px;
		top: 70px / $reference;
		#search-banner-glass {
			position:absolute;
			right: (180px / $reference);
			z-index: -1;
			top: (-15px / $reference);
		}
		#search-banner-title {
			font-family: 'Chunkfive';
			font-size: 280%;
			text-transform: uppercase;
		}
		#search-banner-textbox {
			position: relative;

			#search-banner-textbox-label {
				position: relative;
				top: -35px / $reference;
				left: 100px / $reference;
				text-transform: uppercase;
				font-family: 'League Gothic';
				font-size: 200%;
				color: rgba(180, 200, 200, 0.8);
				z-index: -1;
			}
			input {
				border: none;
				border-left: 5px/$reference black solid;
				border-bottom: 5px/$reference black solid;
				height: 30px;
				width: 270px / $reference;
				background-color: rgba(180, 180, 235, 0.4);
				font-size: 130%;
				padding-left: 8px;
			}
		}
	}
	#search-filters {
		text-align: left;

		#search-filters-bar {
			background-color: $onii-blue;
			width: 100%;
			&.sfb-inactive {
				height: 8px;
			}
		}
		#search-filters-activate {
			font-family: 'League Gothic';
			text-transform: uppercase;
			font-size: 180%;
			color: $onii-blue;
		}
	}
}
