$reference: 1;

#top-menu {
	position: relative;
	top: 25px / $reference;
	color: white;
	font-family: 'League Gothic';
	font-weight: normal;
	text-transform: uppercase;

	#logo {
		position: absolute;
		top: -15px / $reference;
		left: 110px / $reference;
		z-index: -2;
	}

	ul {
		height: 15px / $reference;
		display: inline-block;
		padding: 0px;
		margin: 0px;

		li {
			padding: 0px;
			display: inline-block;
			vertical-align: middle;
			p, img {
				display: inline-block;
				vertical-align: middle;
				margin: 0px;
			}
		}
		li.sep {
			background-color: white;
			width: 40px / $reference;
			padding-left: 0px;
			padding-right: 0px;
			height: 5px / $reference;
		}
	}

	#top-menu-upper {
		position: absolute;
		left: 400px / $reference;
		top: 8px / $reference;
		font-size: 140%;
		ul li {
			padding-left: 15px / $reference;
			padding-right: 15px / $reference;
		}
	}

	#top-menu-lower {
		position: absolute;
		left: 445px / $reference;
		top: 30px / $reference;
		font-size: 130%;
		ul li {
			padding-left: 12px / $reference;
			padding-right: 12px / $reference;
		}
	}

	#top-menu-login {
		position: absolute;
		left: 740px / $reference;
		top: 27px / $reference;
		font-size: 180%;
		color: pink;
	}
}
