#top-menu {
	position: relative;
	top: 30px;
	color: white;
	font-family: 'League Gothic';
	font-weight: normal;
	text-transform: uppercase;

	#logo {
		position: absolute;
		top: -20px;
		left: 140px;
		z-index: -2;
	}

	ul {
		height: 20px;
		display: inline-block;
		padding: 0px;
		margin: 0px;

		li {
			padding: 0px;
			display: inline-block;
			vertical-align: middle;
			p, img {
				display: inline-block;
				vertical-align: middle;
				margin: 0px;
			}
		}
		li.sep {
			background-color: white;
			width: 50px;
			padding-left: 0px;
			padding-right: 0px;
			height: 6px;
		}
	}

	#top-menu-upper {
		position: absolute;
		left: 530px;
		top: 10px;
		font-size: 140%;
		ul li {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	#top-menu-lower {
		position: absolute;
		left: 610px;
		top: 45px;
		font-size: 130%;
		ul li {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	#top-menu-login {
		position: absolute;
		left: 1015px;
		top: 45px;
		font-size: 130%;
		color: pink;
	}
}
