<html>

<head>
  <link rel=stylesheet href="onii-sample-listings5-desktop.css" />
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>

</head>

<body>

<div id='header-container'>
<div id='header'>
  <div id='logo'><img src='logo.png' /></div>

  <div id='main-menu'>
    <div id='all-listings'><p>All listings</p><img src='all-listings-lines.png'/></div>
    <div id='create-listing'><p>Create listing</p><img src='create-listing-cross.png'/></div>
  </div>

  <div id='sub-menu'>
    <ul>
      <li id='sub-menu-news'>News<div class='sub-menu-separator'></div></li>
      <li id='sub-menu-news'>Info<div class='sub-menu-separator'></div></li>
      <li id='sub-menu-news'>Contact</li>
    </ul>
  </div>

  <div id='sub-menu-login'>
      Log in
  </div>

</div>
</div>

<div id='heading'>
  <div id='heading-inner'>
    <img src='listings-border.png' />
    <h1>Listings</h1>
    <p>You can browse our listings using any of several tools - <strong>search box</strong>, specific <strong>sections</strong>, various context <strong>filters</strong> and <strong>tags</strong>. Matching listings appear at the bottom and are updated live as you change your search selections.</p>
  </div>
</div>

<div id='search'>
  <div id='search-spyglass'><img src='spyglass.png' /></div>

  <p>Welcome to our listings page.<br/><strong>Search</strong>, <strong>filter</strong> and/or pick your <strong>tags</strong>...</p>

  <div id='search-box'>
    <input type='text' name='search-box-input'/><p><strong>1</strong>&#x21e8;Search...</p>
  </div>

</div>

<div id='body-container'>
<div id='three-step'>

  <div id='sections'>
    <h1><strong>2</strong>&#x21e8;Section</h1>

    <div id='sections-list'>
      <div id='sections-arrows'>
        <img id='sections-arrows-up' src='sections-up-left.png'>
        <img id='sections-arrows-down' src='sections-down-left.png'>
      </div>
      <ul>
        <li>Science &amp; Tech</li>
        <li>Support</li>
        <li class='active'>Web</li>
        <li>App Development</li>
        <li>Arts</li>
        <li>Enterprise</li>
      </ul>
      <div id='sections-list-all'>
        <a href="/">- Include all sections -</a>
      </div>
    </div>

    <div id='sections-link-filters'>
      <img style='width: 880px; height: 370px' src='link-1-to-2-desktop.png' />
    </div>

    <div id='sections-background'>
      <img src='sections-background.png' />
    </div>
  </div>

  <div id='filters'>
    <h1><strong>3</strong>&#x21e8;Filters</h1>


    <table id='filters-table'>
      <tr>
        <td colspan=3>
          <p class="info">Pick filters to apply to the listings...</p>
        </td>
      </tr>
      <tr>
        <td class='name'>Endorsements:</td>
        <td colspan=2>
          <ul>
            <li class='selected'>Any</li>
            <li>1+</li>
            <li>3+</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class='name'>Structure:</td>
        <td colspan=2>
          <ul>
            <li class='selected'>Any</li>
            <li>Ltd</li>
            <li>Sole<li>
          </ul>
        </td>
      </tr>
      <tr class='filters-block-row'>
        <td colspan=2><span class='name'>Location:</span><img height='150px' src='map.png'></td>
        <td><span class='name'>Seeking:</span>
          <ul>
            <li>Clients</li>
            <li class='selected'>Collaborators</li>
            <li>Employees</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <div id='tags'>
    <h1><strong>4</strong>&#x21e8;Tags</h1>

    <div id='tags-list'>
      <ul>
        <li class='required'>Python</li>
        <li class='required'>C++</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>Laravel</li>
        <li>NZ</li>
      </ul>
    </div>

    <div id='tags-info' class='info'>
      <p>Click tags in the tag cloud to require them.
      <span class='required'>Pink</span> tags are those you have selected (click them to unselect).
      Any other tags on the currently-selected listing come up
      <span class='additional'>turqoise</span>.</p>
    </div>

    <div id='tags-cloud'>
      <!--[if lt IE 9]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
      <script src="tagcanvas.js" type="text/javascript"></script>
      <div id="myCanvasContainer">
         <canvas width="400" height="250" id="myCanvas">
             <p>Anything in here will be replaced on browsers that support the canvas element</p>
             <ul>
                <li><a style="font-size: 30px" href="/">Java</a></li>
                <li><a style="font-size: 50px" href="/">LibreOffice</a></li>
                <li><a style="font-size: 30px" href="/">Linux</a></li>
                <li><a style="font-size: 60px" href="/">ASP</a></li>
                <li><a style="font-size: 50px" href="/">Email</a></li>
                <li><a style="font-size: 20px" href="/">OpenOffice</a></li>
                <li><a style="font-size: 40px" href="/">Fortran</a></li>
                <li><a style="font-size: 50px" href="/">Ruby</a></li>
                <li><a style="font-size: 30px" href="/">VPS</a></li>
                <li><a style="font-size: 50px" href="/">JS</a></li>
                <li><a style="font-size: 60px" href="/">Sysadmin</a></li>
                <li><a style="font-size: 50px" href="/">Joomla</a></li>
                <li><a style="font-size: 20px" href="/">MySQL</a></li>
             </ul>
         </canvas>
      </div>
    </div>

  </div>

  <div id='matching-listings'><p>97 matching listings</p></div>

</div>

<div id='listings-list'>
  <div id='listings-arrows'>
    <img id='listings-arrows-up' src='listings-up-right.png'>
    <img id='listings-arrows-down' src='listings-down-right.png'>
    <div id='listings-decorative-line'></div>
  </div>

  <ul>
    <li class='endorsements-1'>I K Flank (1)</li>
    <li class='active'>&#x272a; FLAX &amp; TEAL LIMITED (2)</li>
    <li>FORTUNE TESTING</li>
    <li>C FULLER</li>
    <li class='endorsements-2p'>FUN IT (4)</li>
    <li>FYZIKS LTD</li>
    <li>H H GARNER</li>
    <li class='endorsements-1'>HOTEL COMPUTERS LTD (1)</li>
    <li>HOLYWOOD IT SERVICES</li>
    <li class='endorsements-1'>HOMEWARE PLC (1)</li>
    <li class='endorsements-1'>HUMAN TECHNOLOGIES (1)</li>
    <li class='endorsements-2p'>Z HUNTINGDON (2)</li>
    <li>T J GARRICK</li>
    <li>GATEWAY SERVICES</li>
    <li class='endorsements-1'>GINGER ROAD (1)</li>
  </ul>
</div>

<div id='listing-actions'>
  <div class='listing-action'><div><img src='listing-request-quote.png'/></div><div id='listing-request-quote'>Request Quote</div></div>
  <div class='listing-action'><div><img id='listing-collaborate-img' src='listing-collaborate.png'/></div><div id='listing-collaborate'>Collaborate</div></div>
  <div class='listing-action'><div><img src='listing-invite-tender.png'/></div><div id='listing-invite-tender'>Invite to Tender</div></div>
</div>

<div id='listing'>
  <div id='listing-header'>
    <h1>Flax &amp; Teal Limited</h1>
    <div id='listing-links'>
      <a href=''>www.flaxandteal.co.uk</a>
      <a href=''>info@flaxandteal.co.uk</a>
    </div>
    <div id='listing-endorsements'>
      [endorsements: 2]
    </div>
  </div>

  <div id='blurb'>
    <img id='listing-logo' src='flaxandteal-logo.png'/>
    <p>Flax &amp; Teal is a Belfast-based contracting
    company. In-house experience in web
    development, engineering and mathematics.
    interested in collaborations oriented 
    around numerical analysis or web solutions.</p>

    <p>The company is focused on international Commonwealth
    projects, and Northern Ireland internal collaboration.</p>
  </div>

  <table id='listing-info-table'>
    <thead>
    <tr>
      <td>Location</td>
      <td>Size</td>
      <td>Founded</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Belfast</td>
      <td>LTD < 5</td>
      <td>2013</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td colspan=3>Interested in</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=3>Web development, mathematics, education, open source advocacy<br/>
        <strong>Joint collaborations; new clients</strong></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td colspan=3>Experience</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=3>New Zealand video tutorials service</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td colspan=3>Technologies</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=3>Python, C/C++, PHP, Drupal, Laravel</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <td colspan=3>Career seekers</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan=3>Junior web developer (1 pos.)</td>
    </tr>
  </tbody>
  </table>
</div>

</div>
</body>

 <script type="text/javascript">
  window.onload = function() {
        try {
          TagCanvas.Start('myCanvas', '', { weight: true, textFont: 'League Gothic', textColour: 'white' });
        } catch(e) {
                // something went wrong, hide the canvas container
                document.getElementById('myCanvasContainer').style.display = 'none';
        }
  };
 </script>

</html>
